@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.mt-5 {
  margin-top: 30px;
}

.mt-6 {
  margin-top: 40px;
}

.mb-2 {
  margin-bottom: 5px;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-grey {
  color: #a5a5a5;
}

.btn {
  padding: 12px 30px;
  background-color: #ff914d;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 4px;
  outline: none;
  border: none;
}
.btn.btn--submit {
  background-color: #2b1c0b;
  color: #ff914d;
  text-transform: unset;
  font-size: 18px;
  padding: 10px 40px;
  border-radius: 99px;
  align-items: center;
}

html {
  font-size: 16px;
  color: #212529;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.header {
  background-color: #2b1c0b;
  color: #ffffff;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-links {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-link {
  padding: 8px 20px;
  font-size: 18px;
  margin-right: 20px;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 8px;
  color: #ffffff;
}
.header-link:last-child {
  margin-right: 0;
}
.header-link.active {
  border: 1px solid #ffffff;
}

.logo {
  width: 150px;
}
.logo img {
  width: 100%;
}

.section {
  padding: 40px 0;
}
.section.section--secondary {
  background-color: #705433;
}
.section.section--orange {
  background-color: #ff914d;
}
.section.hero {
  height: 100vh;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section {
  display: flex;
  height: 100%;
  align-items: center;
}

.hero-content {
  flex: 1;
  margin-right: 40px;
}

.hero-title {
  font-size: 80px;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.form {
  width: 400px;
  flex-shrink: 0;
  padding: 30px 20px;
  background-color: #ff914d;
}

.form-title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.label {
  display: block;
  margin-bottom: 3px;
  color: #ffffff;
  padding-left: 15px;
}

.field {
  margin-bottom: 20px;
}

.input {
  height: 40px;
  outline: none;
  border: none;
  padding: 5px 20px;
  border-radius: 20px;
  width: 100%;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #2b1c0b;
}
.section-title.title--white {
  color: #ffffff;
}

.about-us-wrapper {
  display: flex;
}

.about-us-content {
  flex: 1;
  margin-right: 80px;
}

.section.about-us {
  padding-bottom: 60px;
}

.about-us-paragraph {
  padding: 20px;
  background-color: #ff914d;
  color: #ffffff;
}

.about-us-image-wrapper {
  position: relative;
  flex-shrink: 0;
  width: 400px;
  margin-right: 30px;
}
.about-us-image-wrapper:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -30px;
  bottom: -20px;
  width: 100%;
  height: 100%;
  background-color: #ff914d;
}

.about-us-img {
  width: 100%;
  height: 530px;
  object-fit: cover;
}

.projects-wrapper {
  display: flex;
}

.projects-header {
  width: 250px;
  flex-shrink: 0;
  margin-right: 40px;
}

.projects {
  flex: 1;
  display: flex;
}

.project-item {
  flex: 1;
  flex-shrink: 0;
  overflow: hidden;
  margin-right: 20px;
  color: #ffffff;
}
.project-item:last-child {
  margin-right: 0;
}

.project-img-wrapper {
  padding-top: 150%;
  position: relative;
  margin-bottom: 20px;
}

.project-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.counts-wrapper {
  display: flex;
}

.count-item {
  margin-right: 40px;
  flex: 1;
  flex-shrink: 0;
  text-align: center;
  color: #ffffff;
}
.count-item:last-child {
  margin-right: 0;
}
.count-item p {
  font-size: 14px;
}

.count-item-title {
  font-weight: 500;
  font-size: 48px;
  font-style: italic;
}
.count-item-title span {
  font-size: 28px;
  position: relative;
  top: -16px;
  left: 5px;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.testimonial-item-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.testimonial-avatar {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  margin-right: 15px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial-customter h4 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.testimonial-customter p {
  opacity: 0.8;
  font-size: 18px;
}

.footer {
  background-color: #2b1c0b;
  padding: 40px 0;
  color: #ffffff;
}

.footer-links-section {
  padding-bottom: 40px;
  border-bottom: 1px solid #a5a5a5;
  display: flex;
}

.footer-links {
  flex: 2;
  flex-shrink: 0;
  margin-right: 80px;
}
.footer-links:first-child {
  flex: 3;
}
.footer-links:last-child {
  margin-right: 0;
}

.footer-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-link {
  color: #ffffff;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-link.footer-link--icon {
  margin-bottom: 0;
  margin-right: 20px;
}
.footer-link.footer-link--icon:last-child {
  margin-right: 0;
}
.footer-link svg {
  width: 32px;
  height: 32px;
}
.footer-link .icon-tabler-brand-facebook {
  fill: #2b1c0b;
  stroke-width: 1px;
}
.footer-link .icon-tabler-brand-youtube {
  fill: #2b1c0b;
  stroke: #ffffff;
  width: 36px;
  height: 36px;
}
.footer-link .icon-tabler-brand-tiktok {
  stroke: #2b1c0b;
  stroke-width: 3px;
}

.footer-copyright {
  padding-top: 40px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
